* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* Image */
#home-img {
  margin-top: 56px;
}
.img-wrapper {
  position: relative;
  text-align: center;
  color: #fff;
}
.img-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-content h2 {
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
  font-size: 50px;
}
.img-content p {
  text-transform: capitalize;
  font-weight: 500;
  margin: 0;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .img-content h2 {
    font-weight: 600;
    font-size: 30px;
  }
  .img-content p {
    font-weight: 500;
    font-size: 12px;
  }
}

/* Footer styles */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  bottom: 0;
  background: #111;
  width: 100vw;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}
.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 400;
  color: #0d6efd;
}
