* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
html {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Footer styles */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding-top: 40px;
  margin-top: auto;
  color: #fff;
}
.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 400;
  color: #0d6efd;
}


/* Carousel */

.carousel {
  position: relative;
}
.carousel-item {
  height: 50vh;
}
